# Production profile for docker-compose
SPRING_PROFILES_ACTIVE=prod
CONFIG_SERVER_URL=http://config-server:7071

# MySQL container/app credentials
TIPO_HABITACION_MYSQL_ROOT_PASSWORD=root
TIPO_HABITACION_MYSQL_DATABASE=db_hotel_tipos

# Spring datasource
TIPO_HABITACION_DB_HOST=mysql-tipo-habitacion
TIPO_HABITACION_DB_PORT=3306
TIPO_HABITACION_DB_NAME=db_hotel_tipos
TIPO_HABITACION_DB_USERNAME=root
TIPO_HABITACION_DB_PASSWORD=root
